/* filepath: /c:/Users/Dell/Desktop/pythonfinal/sportswearstore/static/css/custom.css */
.navbar-nav .nav-link, .navbar-nav .btn-link {
    color: black !important;
}
.navbar-nav .nav-link:hover, .navbar-nav .btn-link:hover {
    color: black !important;
}
.navbar-nav .nav-link i, .navbar-nav .btn-link i {
    color: black !important;