<!-- filepath: /c:/Users/Dell/Desktop/pythonfinal/sportswearstore/templates/men_polos.html -->
{% extends 'base.html' %}

{% block title %}Men's Polos{% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4">
          <a href="{% url 'product_detail' 'men_polos' product.pk %}">
            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="price">₹{{ product.price }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}