<!-- filepath: /d:/pythonfinal/Hello/templates/men_newarrival.html -->
{% extends 'base.html' %}

{% block title %}Men T-shrits{% endblock title %}

{% block styles %}
<style>
    body {
        font-family: 'Lora', serif;
    }

    h1, h2, h3, h4, h5, h6, .card-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .card-text {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-size: 1rem;
    }

    .price {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        color: #ff5722;
    }
</style>
{% endblock styles %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <a href="{% url 'product_detail' 'men' product.pk %}">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}" style="object-fit: cover; width: 100%; height: 700px;">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="price">₹{{ product.price }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">{{ product.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}